<div class="row d-flex align-items-center text-center p-2">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 inspirations">
            <div class="overlay">
              <h2><a href="/inspirations">Inspirations</a></h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 updates">
            <div class="overlay">
              <h2><a href="/updates">Updates</a></h2>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 offset-md-2 offset-sm-2 offset-xs-2 offset-lg-2 life">
          <div class="overlay">
            <h2><a href="/life">Life</a></h2>
          </div>
        </div>
      </div>
