      <div class="row text-left m-5">
        <div class="row m-2">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 articles-text">
            <img src="https://res.cloudinary.com/elcoilombe/image/upload/v1527161204/IdareToWrite/23414156_2025200377702162_1471768977_n.jpg" alt=" Happy Birthday Image " class="img-fluid img-thumbnails">
          <h2> {{ .Title }}</h2>
           <div class="">
             {{ .Content }}
           </div>
          </div>
        </div>
      </div>
