/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  GENERAL
 */

.navbar {
z-index: 998;
 background-color: white;
-webkit-box-shadow: -1px 4px 20px -4px rgba(0,0,0,0.78);
-moz-box-shadow: -1px 4px 20px -4px rgba(0,0,0,0.78);
box-shadow: -1px 4px 20px -4px rgba(0,0,0,0.78);

}
.logo h1{
  font-size: 1.5em;
  z-index: 997;
}
.header{ height: 10%; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
}

/* HOME PAGE*/

#home, #home .container-fluid, #home .container-fluid> .row{
  height: 100%;
}
#home {
  position: relative;
  height: 100%;
}
#home img {
  border-radius: 100%;
  position: absolute;
  top: -30%;
  left: 0;
  z-index: 950ft;
}

#home .p {
  padding-top: 60%;
}

/*Home Page Left Side*/

.left{
  background-color: #eff2f7;
}

.mobile-prensentation {
  display: none;
}

.snap {
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527107145/IdareToWrite/snap_bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.snap .fa-snapchat-square{
  font-size: 1.5em;
  color: #FFFC00;
}
.wattpad {
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527107138/IdareToWrite/wattpad_bg.jpg") no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.wattpad .wattpad-icone {
  margin: 5px;
  padding: 0px 5px;
  font-style: initial;
  background: #f7981b!important;
  border-radius: 10px;
}

.form-newsletter
{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-newsletter form input
{
  margin-top: 5px;
}

.news {
  color: white;
  padding-top: 15px;
}

/* home page right side */

.right {
  display: table;
  height: 100%;
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527115524/IdareToWrite/woman-2486528_1280.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: green;
}
.right .row {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.right .cta-text {
  background: rgba(0,0,0,0.8);
  color: white;
  width: 100%;
}

/* NEWS PAGE */
#actus, #actus .container, #actus .container> .row{
  height: 100%;
}
#actus {
  position: relative;
  height: 100%;
}

.inspirations, .updates, .life {
  padding: 150px 0;
  border: 1px solid lightgray;
}
.inspirations, .updates{
  margin: 5px 0;
}
.inspirations {
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527124423/IdareToWrite/23232122_2025200347702165_782457991_n.jpg") no-repeat;
  background-size: cover;
}
.updates {
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527124402/IdareToWrite/23365120_2025191287703071_874076290_n.jpg") no-repeat;
  background-size: cover;
}
.life {
  background: url("https://res.cloudinary.com/elcoilombe/image/upload/v1527124442/IdareToWrite/23315918_2025201614368705_1003722545_n.jpg") no-repeat;
  background-size: cover;
}
#actus .actus-right .overlay {
  background: rgba(247, 152, 27, 0.8);
}

/* Article Pages */

.left-actus{
  background-color: #eff2f7;
}
.articles-text {
  background: white!important;
}

/* Article Single */

.article-single {
  overflow-y: scroll;
}
.row a {
  color: white!important;
}
/* BOOK*/

.book-resume {
margin-top: 50px;
padding: 0;
}
.left-book {
  background-color: #eff2f7;
}
/* MOBILE */
@media screen and (max-width: 812px){
  .no-mobile {
    display: none!important;
  }
  #home, #home .container-fluid, #home .container-fluid> .row{
  height: auto;
  }
  .right {
    padding: 200px 0;
  }
  #home img {
    position: relative;
    margin: 25px;
    left: 0;
  }
  #home .p {
    padding: 15px 0;
  }
  .desktop-prensentation{
    display: none;
  }
  .mobile-prensentation{
    display: inline;
  }
  .wattpad {
    background-position: center;
  }
  .wattpad, .snap {
    padding: 50px;
  }
  .article-single {
  overflow-y: hidden;
}
  .m-5 , .m-2 {
    margin: 0!important;
  }
}
