{{ define "main" }}
<section id="home">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-6 left text-center">
      {{ partial "home-left.html" .}}
    </div>
    <div class="col-md-12 col-lg-6 right text-center">
      <div class="row">
        <div class="col-md-12 cta-text">
          <h1> Venez découvrir ma première fiction : Rose Noire </h1>
        </div>
        <div class="col-md-6 offset-md-3 cta-btn">
          <a href="#" class="btn btn-warning"> Lire sur WattPad</a>
          <a href="#" class="btn btn-primary"> Lire sur mon site </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{end}}
