{{ define "main" }}
<section id="home">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-6 left">
      <div class="row d-flex align-items-center p-2 text-center">
        <div class="mobile-prensentation col-md-12 col-sm-12 col-xs-12 col-lg-4 bg-warning">
          <div class="row align-items-center">
            <div class="col-md-5"><img src="https://res.cloudinary.com/elcoilombe/image/upload/v1526951982/avatar_presentation.jpg" class="img-fluid img-thumbnail" alt="Avatar IDareToWrite"></div>
            <div class="col-md-7">
              <p class="p"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facere a, atque earum, temporibus assumenda. Doloribus quisquam nulla totam doloremque necessitatibus molestiae, enim error consequuntur reprehenderit beatae, sapiente vitae, natus! </p>
            </div>
          </div>
        </div>
        <div class="desktop-prensentation col-md-12 col-sm-12 col-xs-12 col-lg-4 bg-warning">
          <img src="images/avatar_presentation.jpg" class="img-fluid img-thumbnail" alt="Avatar IDareToWrite">
          <p class="p"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facere a, atque earum, temporibus assumenda. Doloribus quisquam nulla totam doloremque necessitatibus molestiae, enim error consequuntur reprehenderit beatae, sapiente vitae, natus! </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 bg-danger">
          <h2> Snapchat</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 bg-success">
          <h2> WattPad </h2>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-md-4 bg-primary"> <p>Envie d'etre au courant des dernières actus ? Inscrit toi à ma newsletter</p>
        <form action="" method="">
          <input type="text" name="nom" placeholder="nom et prenom">
          <input type="text" name="email" placeholder="email">
          <br><br>
          <input type="submit"  value="Envoyer" class="btn btn-secondary">
        </form>
        </div>
        <div class="col-md-6 offset-md-1 bg-secondary">
          <h2> Dernières Actualités</h2>
          <hr>
          <h4> Il y a 2 jours - Nom de l'article : </h4>
          <p> Aujourd'hui j'ai écrit l'article Nom de l'article... Lire la suite</p>
        </div>
      </div>

    </div>
    <div class="col-md-12 col-lg-6"><h1>Part 1.</h1></div>
  </div>
</div>
</section>
{{end}}
